<div class="abcontent">
    <div class="pl-3 pr-3 pb-3">
        <p>A Propos</p>
        CovidBot est un ChatBot répondant aux questions à propos du Covid-19 et donne en temps réel les derniers tweets de l'INRB et de l'OMS RDC.
    </div>
    
    <div style="margin-top:5%;">
        <p class="ml-3">Développeur</p>
        <div class="m-3 p-3 m-flex-center rounded-2 row shadow-md">
            <div class="col-5">
                <img src="images/meschac.jpg" alt="" class="rounded-2 shadow-admin img-fluid">
            </div>
            <div class="col-7">
                Méschac iRUNG
                <div class="mt-3">
                    <a href="mailto:meschacirung@gmail.com" class="shadow-sm-2 p-2 rounded-2 text-dark"><i class="icon-mail_outline"></i></a>
                    <a href="https://github.com/Meschacirung/" class="shadow-sm-2 p-2 rounded-2 text-dark"><i class="icon-linkedin"></i></a>
                    <a href="https://github.com/Meschacirung/" target="outblank" class="shadow-sm-2 p-2 rounded-2 text-dark"><i class="icon-github"></i></a>
                </div>
            </div>
        </div>
    </div>
    
    <div class="p-3">
        <p>Version : 1.0.0 (beta)</p>
    </div>
</div>
