<div class="container-fluid bg-light" id="oms">
    <div class="container text-center" style="padding:100px 0px;">
        <h1 class="mb-4 blue-dark title-sm">Recommandations officielles (OMS)</h1>
        <p class="col-lg-9 m-auto pb-5">Si vous pensez être malade, évitez les endroits publics. Ne rendez pas visite aux personnes fragiles (personnes âgées ou malades). Evitez de sortir de chez vous. Respectez les mesures barrière (lavage de main, masque). Surveillez vos symptômes, l'évolution de votre température corporelle et recherchez un avis médical.</p>
    </div>
</div>