<div id="utilisation" class="container-fluid">
    <div class="container" style="padding:100px 0px;">
        <h1 class="text-center blue-dark title-sm">Fonctionnalités</h1>
        <p class="text-center col-lg-5 m-auto">Je suis trés facile à utiliser, vous chatez juste. Avec moi, vous ne vous ennuyerais pas :(.</p>     

        <div class="row mt-5">
            <div class="col-lg-5">
                
            </div>
            <hr class="stepper-line">
            <div class="col-lg-6 m-auto">
                <div class="row">
                    <div class="col-lg-1">
                        <div class="stepper-border stepper-left m-flex-center">
                            <div class="stepper-circle text-center">
                                <h5 class="font-weight-normal" style="margin-top:-6px"><i class="icon-question text-primary"></i></h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8 m-auto stepper-content shadow-sm-2 rounded-2">
                        <h4>Questions / Réponses</h4>
                        <div>
                            <p class="mt-3">Je réponds à toute vos questions sur le coronavirus covid-19 en RDC et vous donne les statistiques en temps réel</p>                    
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="row ">
                    <div class="col-lg-8 m-auto stepper-content shadow-sm-2 rounded-2">
                        <h4 class="text-right">Lavage de mains</h4>
                        <div class="">
                            <p class="mt-3 text-right">Je vous aide à vous laver les mains avec un chrono de 30 secondes et quelques flashs infos sur la pandémie.</p>                    
                        </div>
                    </div>
                    <div class="col-lg-1 stepper-right">
                        <div class="stepper-border stepper-right">
                            <div class="stepper-circle text-center">
                                <h5 class="font-weight-normal mt-1 ml-2"><i class="icon-signing text-success"></i></h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5">
                
            </div>
            <div class="col-lg-5">
                
            </div>
            <div class="col-lg-6 m-auto">
                <div class="row">
                    <div class="col-lg-1">
                        <div class="stepper-border stepper-left m-flex-center">
                            <div class="stepper-circle text-center">
                                <h5 class="font-weight-normal" style="margin-top:-6px"><i class="icon-thermometer text-warning"></i></h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8 m-auto stepper-content shadow-sm-2 rounded-2">
                        <h4>Test</h4>
                        <div>
                            <p class="mt-3">Vous avez des doutes concernant votre état de santé, je vous aide à évaluer votre situation.</p>                    
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="row ">
                    <div class="col-lg-8 m-auto stepper-content shadow-sm-2 rounded-2">
                        <h4 class="text-right">Derniers tweets</h4>
                        <div class="">
                            <p class="mt-3 text-right">Pour vous informer, je vous donne en temps réel, les derniers tweets de l'Insitut National de Récherche Biomédiale (INRB) et OMS RDC.</p>                    
                        </div>
                    </div>
                    <div class="col-lg-1 stepper-right">
                        <div class="stepper-border stepper-right">
                            <div class="stepper-circle text-center">
                                <h5 class="font-weight-normal mt-1 ml-2"><i class="icon-twitter text-default"></i></h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <style>
            .stepper{
                width:80%;
            }
            .stepper-line{
                height:65%;
                width:3px;
                background: #e6e6e6;
                border:none;
                left: 0;
                right: 0;
                position: absolute;
            }

            .stepper-circle{
                height:15px;
                width:15px;
                border-radius:50%;
                padding:3px;
                
            }
            .stepper-primary{
                background: rgb(109, 107, 207) !important;
            }
            .stepper-cyan{
                background: rgb(4, 172, 238);
            }
            .stepper-warning{
                background: rgb(238, 150, 50);
            }
            .stepper-success{
                background: rgb(120, 212, 120);
            }
            .stepper-border {
                height:40px;
                width:40px;
                border:2px solid #e6e6e6;
                background: #ffffff;
                border-radius:50%;
            }

            .stepper-left{
                margin-left:64%;
            }
            .stepper-right{
                margin-right:-2.5% !important;
                margin-left:-10%;
            }
        </style>
    </div>
</div>