<div id="footer" class="container-fluid bg-dark">
    <div class="container pt-5 pb-5">
        <div class="col-lg-10 m-auto">
            <div class="container p-lg-5 p-md-5 p-3 shadow-lg rounded bg-primary" style="margin-top:-100px;">
                <div class="text-center">
                    <p class="text-white">Ce site n'est pas un dispositif médical, il ne délivre pas d'avis médical. Si vous avez des doutes concernant votre état de santé, contactez un médecin !</p>
                </div>
            </div>
        </div>
        <div class="mt-5 text-center m-flex-center row">
            <div class="row">
                <div class="col-lg-auto">
                    <p class="text-white mt-2">
                        Made with <i class="icon-heart"></i> by <a href="" class="text-white">Méschac IRUNG</a>
                    </p>
                </div>
                <div class="col-lg-auto text-center">
                    <a href="https://github.com/Meschack/c19-assistant/" target="outblank" title="contribuer"><i class="icon-github fa-2x mr-3"></i></a>
                    <a href="" target="outblank" title="twitter"><i class="icon-twitter fa-2x"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>