<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Réponses à toutes vos questions sur le coronavirus covid-19, Test, Derniers tweets de OMSRDC et INRB, Jeux et plus encore.">
    <meta name="theme-color" content="#ffffff">

    <title>Covid-19 Asistant - Assistant for coronavirus</title>
    
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/timer.css">
    <link rel="stylesheet" href="fontawesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="fontawesome/fonts/icomoon/style.css">

    <link rel="icon" href="images/icon.png" type="image/x-icon"/>
    <link rel="apple-touch-icon" href="images/apple-touch-120x120.png">
    <link rel="apple-touch-icon" href="images/apple-touch-152x152.png">
</head>
<body>