<header class="smooth-scroll">
    <nav id="navbar" class=" navbar navbar-expand-lg navbar-expand navbar-light bg-white shadow-sm fixed-top">
        <div class="container pt-1 pb-1">
            <a class="navbar-brand mt-1" href="#home">
                <img src="images/covid 19.png" class="opacity-2" width="150" alt="">
            </a>
            <div class="col-nav collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto flex-center">
                    <li class="nav-item mr-lg-3">
                        <a class="nav-link" href="#applications">Applications</a>
                    </li>
                    <li class="nav-item mr-lg-3">
                        <a class="nav-link" href="#features">Fonctionnalités</a>
                    </li>
                    <li class="nav-item mr-lg-3">
                        <a class="nav-link" href="#symptomes">Symptômes</a>
                    </li>
                    <li class="nav-item mr-lg-3">
                        <a class="nav-link" href="#routine">Prévention</a>
                    </li>
                    <li class="mr-lg-3">
                        <a class="btn btn-light shadow-none text-primary" href="#oms">OMS</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>