<div class="sidebar-wrapper">
        
</div>
<div class="sidebar" id="sidebar">
    <div class="header alt2 bg-primary-2 pl-2 pr-3 pt-4  pb-1" style="margin-bottom:-20px;">
        <div class="row">
            <div class="col-auto mr-auto header">
                <a><i class="text-white icon-long-arrow-left send-2 ml-1 homeback"></i></a>
            </div>
            <div class="col-auto">
                <a class=""><i class="text-white icon-menu send ml-1 menuback"></i></a>
            </div>
        </div>
        <div class="header row m-flex-center">
            <div class="col-4 header text-right">
                <img src="images/chatsplsh.png" alt="" class="img-fluid">
            </div>
            <div class="col-9 header text-center mt-3">
                <h3 class="htitle text-white  font-weight-bold">Covid<span class="stitle header font-weight-normal text-dark-2">Bot</span></h3>
            </div>
        </div>
    </div>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
        <path fill="#585af5" fill-opacity="1" d="M0,192L60,176C120,160,240,128,360,149.3C480,171,600,245,720,277.3C840,309,960,299,1080,261.3C1200,224,1320,160,1380,128L1440,96L1440,0L1380,0C1320,0,1200,0,1080,0C960,0,840,0,720,0C600,0,480,0,360,0C240,0,120,0,60,0L0,0Z"></path>
    </svg>
    <%- include('about') %>
    <div class="navcontent">
        <nav>
            <ul class="pt-5 p-3 pl-4 list-unstyled">
                <li><a href="" class="link"><i class="icon-gear mr-4 send-2"></i>Options</a></li>
                <li class="mt-4"><a target="outblank" href="https://github.com/Meschacirung/c19-assistant/tree/chatbot" class="link"><i class="icon-github send-2 mr-4"></i>Contribuer</a></li>
                <li class="mt-4"><a id="about" class="link"><i class="icon-exclamation-circle mr-4 send-2"></i>A Propos</a></li>
                
                <div class="switch mt-4 link">
                    <label>
                      <i class="icon-brightness_2 send-2 mr-3"></i><span class="ml-1 title">Mode jour</span>
                      <input id="darkmode" type="checkbox">
                      <span class="lever"></span>
                    </label>
                </div>
            </ul>
        </nav>
        <div style="margin-top:60%;">
            <div>
                <div class="col-11 ml-auto border-top">
                    
                </div>
                <div class="p-3 text-center">
                    <p class="text-dark-2">ChatBot pour le Covid-19</p>
                </div>
            </div>
        </div>
    </div>

</div>