<span id="splash" class="splash"></span>
<div class="logo">
    <img src="images/chatsplsh.png" width="250" alt="" class="img-fluid">
</div>
<div class="powered">
    <span class="text-dark-2">Powered By</span>
    <a href=""><h3 class="text-center text-dark-2">Méschac iRUNG</h3></a>
    <hr class="hr">
</div>