<style>
    .row-story {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-right:0px;
        margin-left:-1px;
    }
    .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col
    {
        position: relative;
        width: 100%;
        padding-right:4px;
        padding-left:4px;
    }
    .user-storie{
        font-size:.9rem;
        line-height:1.2;
        color: #ffffff;
    }
    .mask-gradient{
        background: linear-gradient(transparent, #141d26);
    }
    .storie{
        width:280%;
    }
    @media(max-width:576px){
        .storie{
            width:365%;
        }
    }
    @media(max-width:798px) and (min-width:577px){
        .storie{
            width:160%;
        }
    }
</style>

<h5 style="margin-top:-1rem;">Statuts <small class="pull-right"><a href="" class="text-dark m-flex-center">Voir tout <i class="icon-keyboard_arrow_right"></i></a></small></h5>
<div class="row-story d-none">
    <div class="col-lg-3 col-4">
        <div class="view">
            <img src="images/storie.jpg" class="img-fluid rounded-storie" alt="">
            <a href="">
                <div class="mask rounded-storie text-white">
                    <div class="mask-gradient pl-2 pr-2 pt-3" style="position: absolute; width:100%; bottom:-10px;">
                        <p class="user-storie font-small font-weight-bold">Méschac <br> Irung</p> 
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-4">
        <div class="view">
            <img src="images/storie2.jpg" class="img-fluid rounded-storie" alt="">
            <a href="">
                <div class="mask rounded-storie text-white">
                    <div class="mask-gradient pl-2 pr-2 pt-3" style="position: absolute; width:100%; bottom:-10px;">
                        <p class="user-storie font-small font-weight-bold">Méschac <br> Irung</p> 
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
<div class="owl-carousel">
    <div class="pr-3 storie">
        <div class="view">
            <img src="images/storie.jpg" class="img-fluid rounded-storie" alt="">
            <a href="">
                <div class="mask rounded-storie text-white">
                    <div class="mask-gradient pl-2 pr-2 pt-3" style="position: absolute; width:100%; bottom:-10px;">
                        <p class="user-storie font-small font-weight-bold">Méschac <br> Irung</p> 
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="pr-3 storie">
        <div class="view">
            <img src="images/storie2.jpg" class="img-fluid rounded-storie" alt="">
            <a href="">
                <div class="mask rounded-storie text-white">
                    <div class="mask-gradient pl-2 pr-2 pt-3" style="position: absolute; width:100%; bottom:-10px;">
                        <p class="user-storie font-small font-weight-bold">Méschac <br> Irung</p> 
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="pr-3 storie">
        <div class="view">
            <img src="images/storie3.jpg" class="img-fluid rounded-storie" alt="">
            <a href="">
                <div class="mask rounded-storie text-white">
                    <div class="mask-gradient pl-2 pr-2 pt-3" style="position: absolute; width:100%; bottom:-10px;">
                        <p class="user-storie font-small font-weight-bold">Méschac <br> Irung</p> 
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="pr-3 storie">
        <div class="view">
            <img src="images/storie2.jpg" class="img-fluid rounded-storie" alt="">
            <a href="">
                <div class="mask rounded-storie text-white">
                    <div class="mask-gradient pl-2 pr-2 pt-3" style="position: absolute; width:100%; bottom:-10px;">
                        <p class="user-storie font-small font-weight-bold">Méschac <br> Irung</p> 
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="pr-3 storie">
        <div class="view">
            <img src="images/storie3.jpg" class="img-fluid rounded-storie" alt="">
            <a href="">
                <div class="mask rounded-storie text-white">
                    <div class="mask-gradient pl-2 pr-2 pt-3" style="position: absolute; width:100%; bottom:-10px;">
                        <p class="user-storie font-small font-weight-bold">Méschac <br> Irung</p> 
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="pr-3 storie">
        <div class="view">
            <img src="images/storie.jpg" class="img-fluid rounded-storie" alt="">
            <a href="">
                <div class="mask rounded-storie text-white">
                    <div class="mask-gradient pl-2 pr-2 pt-3" style="position: absolute; width:100%; bottom:-10px;">
                        <p class="user-storie font-small font-weight-bold">Méschac <br> Irung</p> 
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="pr-3 storie">
        <div class="view">
            <img src="images/storie2.jpg" class="img-fluid rounded-storie" alt="">
            <a href="">
                <div class="mask rounded-storie text-white">
                    <div class="mask-gradient pl-2 pr-2 pt-3" style="position: absolute; width:100%; bottom:-10px;">
                        <p class="user-storie font-small font-weight-bold">Méschac <br> Irung</p> 
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>