<h5 style="margin-top:-1rem;">Statuts <small class="pull-right"><a href="" class="text-dark m-flex-center">Voir tout <i class="icon-keyboard_arrow_right"></i></a></small></h5>
<div class="owl-one owl-carousel">
    <div class="storie">
        <div class="view">
            <img src="images/storie.jpg" class="img-fluid rounded-storie" alt="">
            <a href="">
                <div class="mask rounded-storie text-white">
                    <div class="mask-gradient pl-2 pr-2 pt-3" style="position: absolute; width:100%; bottom:-10px;">
                        <p class="user-storie font-small font-weight-bold">Méschac <br> Irung</p> 
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="storie">
        <div class="view">
            <img src="images/storie2.jpg" class="img-fluid rounded-storie" alt="">
            <a href="">
                <div class="mask rounded-storie text-white">
                    <div class="mask-gradient pl-2 pr-2 pt-3" style="position: absolute; width:100%; bottom:-10px;">
                        <p class="user-storie font-small font-weight-bold">OMS <br> RDC</p> 
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="storie">
        <div class="view">
            <img src="images/storie3.jpg" class="img-fluid rounded-storie" alt="">
            <a href="">
                <div class="mask rounded-storie text-white">
                    <div class="mask-gradient pl-2 pr-2 pt-3" style="position: absolute; width:100%; bottom:-10px;">
                        <p class="user-storie font-small font-weight-bold">IRNB <br> Kinshasa</p> 
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="storie">
        <div class="view">
            <img src="images/storie3.jpg" class="img-fluid rounded-storie" alt="">
            <a href="">
                <div class="mask rounded-storie text-white">
                    <div class="mask-gradient pl-2 pr-2 pt-3" style="position: absolute; width:100%; bottom:-10px;">
                        <p class="user-storie font-small font-weight-bold">IRNB <br> Kinshasa</p> 
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>