<div class="container-fluid" id="symptomes" style="padding-top:100px">
    <div class="row m-flex-center">
        <div class="col-lg-4 bg-danger p-lg-5 p-md-3 p-4 text-white symptomes-bg">
            <div class="pl-lg-5 pt-3 pb-lg-3 pb-0">
                <h2 class="text-lg-left text-center blue-text-dark title-sticky">Symptômes à surveiller.</h2>
                <p class="text-lg-left text-white text-center mt-3 text-sticky">Vous devez régulièrement vous surveillez si vous présentez ces symptômes.</p> 
            </div>
        </div>
        <div class="col-lg-8 symptomes-content">
            <div class="row symptomes-in">
                <% symptomes.forEach(function(symptomes){ %>
                <div class="col-auto">
                    <div class=" rounded-tb rounded-top opacity">
                        <div class="p-4">
                            <h5 class="font-weight-normal">
                                <i class="icon-circle text-danger-2 border rounded-circle p-3 pl-3 pr-3"></i> <%= symptomes.title %></h5>
                        </div>
                    </div>
                </div>
                <% }); %>
            </div>
        </div>
    </div>
</div>