<%- include('partials/head') %>
<div style="position:absolute; top:20%; bottom:25%; left:0; right:0;">
    <div class="container">
        <div class="col-lg-6 col-md-8 p-lg-5 p-md-5 p-4 m-auto shadow-admin rounded-3">
            <h1 class="display-1 text-center font-weight-bold">500</h1>
            <h3 class="text-center">Erreur interne.</h3>
            <p class="text-center">Une erreur interne du serveur, nous réglerons ça le plus vite possible !</p>
            <div class="text-center mt-5">
                <a href="" onclick="history.go(-1)" class="btn btn-primary shadow-none"><i class="icon-undo"></i> Rentrer</a>
            </div>
        </div>
    </div>
</div>
<%- include('partials/scripts') %>