<div class="modal  modal-scrolling fade bottom" id="modalRelatedContent" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
aria-hidden="true" data-backdrop="false">
    <div class="modal-dialog modal-side modal-bottom-right" role="document">
        <div class="modal-content shadow-lg">
            <div class="pt-3 pb-3 bg-primary-gradient head rounded-top" style="z-index:0; position: abolute;">
                <div class="row m-flex-center pr-lg-3 pl-lg-3 pr-md-4 pl-md-4 pl-4 pr-4 mt-2">
                    <a href="">
                        <img src="images/icon.png" width="40" alt="" class="img-fluid ml-2">
                    </a>
                    <h4 class="text-white font-weight-normal ml-2">Covid-19 Test</h4>
                    <div class="col-auto ml-auto text-white">
                        <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true" class="text-white">&times;</span>
                        </button>
                    </div>
                </div>
                <svg style="margin-top:-7px; position: relative;"  width="100%" height="100%" viewBox="0 0 1920 355" version="1.1" xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink">
                <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g id="Apple-TV" transform="translate(0.000000, -402.000000)" fill="#ffffff">
                        <path
                        d="M0,439.134243 C175.04074,464.89273 327.944386,477.771974 458.710937,477.771974 C654.860765,477.771974 870.645295,442.632362 1205.9828,410.192501 C1429.54114,388.565926 1667.54687,411.092417 1920,477.771974 L1920,757 L1017.15166,757 L0,757 L0,439.134243 Z"
                        id="Path"></path>
                    </g>
                </g>
            </svg>
            </div>
            <div class="rounded-tb" style="margin-top:-50px; z-index:5;">
                <%- include('chat/chat') %>
            </div>
        </div>
    </div>
</div>