<%- include('../partials/head')%>
<style>
  .welcome .splash {
    height: 0px;
    padding: 0px;
    border: 130em solid #ffffff;
    position: fixed;
    left: 0;
    right:0;
    top: 100%;
    display: block;
    box-sizing: initial;
    overflow: hidden;
    transform: translate(-50%, -50%);
    animation: puff 0.5s 2.4s cubic-bezier(0.55, 0.055, 0.675, 0.19) forwards;
  }
  
  .welcome #welcome {
    width:100px;
    height:100px;
    position: fixed;
    left:0;
    right:0;
    bottom: 50%;
    overflow: hidden;
    opacity: 0;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    animation: init 0s 0.1s cubic-bezier(0.55, 0.055, 0.675, 0.19) forwards, hide 1s 1.9s ease forwards;
  }

  .powered{
      position: fixed;
      bottom:5%;
      text-align: center;
      left:0;
      right: 0;
      animation:hide 1s 1.2s ease forwards;
  }
  
  @keyframes init {
    0% {
      opacity: .1;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes init2 {
    0% {
      opacity:0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes puff {
    0% {
      top: 50%;
      height: 100%;
      padding: 0px 98%;
    }
    100% {
      top: 50%;
      height: 100%;
      padding: 0px 100%;
    }
  }
  
  @keyframes hide {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      z-index:-1049;
    }
  }
</style>
<span id="splash-overlay" class="splash"></span>
<div class="splash">
    <img src="images/mocgen.png" alt="" class="img-fluid">
</div>

<div class="powered">
    <span class="text-dark-2">Powered By</span>
    <a href=""><h3 class="text-center text-dark-2">Méschac iRUNG</h3></a>
    <hr class="hr">
</div>
<%- include('../partials/scripts')%>